<h1>로그인</h1>
<form method="post" action="/api/signup">
    <h6>아이디:</h6>
    <input type="text" name="USER_ID">
    <h6>비밀번호:</h6>
    <input type="password" name="PASSWORD">
    <h6>비밀번호확인:</h6>
    <input type="password" name="CONFIRM">
    <h6>이름</h6>
    <input type="text" name="FIRST_NAME">
    <h6>성</h6>
    <input type="text" name="LAST_NAME">
    <h6>이메일:</h6>
    <input type="email" name="EMAIL">
    <button type="submit">등록하기</button>

    </form>
<a href="/auth/google">구글 로그인</a>